
    <!--Modal: modalDiscount-->
    <div class="modal fade right" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" data-backdrop="true">
      <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading">Login
              <strong>gammer</strong>
            </p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body">

            <div class="row">
              <div class="col-3">
                <p></p>
                <p class="text-center">
                  <i class="fas fa-gamepad fa-4x"></i>
                </p>
              </div>

              <div class="col-9">
                <div class="md-form">
                  <form >
                 <div class="form-group">
                     <label for="username">email</label>
                     <input [(ngModel)]="loginData.email" type="email" class="form-control" >
                     <div class="invalid-feedback">
                         <div >email is required</div>
                     </div>
                 </div>
                 <div class="form-group md-form">
                     <label for="password">Password</label>
                     <input  [(ngModel)]="loginData.password" type="password" class="form-control" >
                     <div  class="invalid-feedback">
                         <div >Password is required</div>
                     </div>
                 </div>
                 <button [disabled]="loading" (click)="signinUser()" class="btn btn-primary">
                     <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                     Login
                 </button>
             </form>

            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <a href="signup" class="btn btn-primary">Let's Register
              <i class="far fa-gem ml-1 white-text"></i>
            </a>
            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Forgot password</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: modalDiscount-->
