
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You will play any games here in Arena NNA!</p>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register as a Gammer</h3>
                                <div class="row register-form">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.username" type="text" class="form-control" placeholder="username" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.email" type="email" class="form-control" placeholder="email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.password" type="password" class="form-control" placeholder="******" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.namadepan" type="text" class="form-control"  placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.namabelakang" type="text" class="form-control" placeholder="lastname *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.umur" type="text"class="form-control" placeholder="Your age*" value="" />
                                        </div>



                                        <button (click)="signupUser()" class="btnRegister" >Register</button>

                                </div>
                            </div>

            </div>
