  <h1>BEST GAME POPULER</h1>
  <a routerLink="listgame">view history game</a>
<div class="card-deck">
  <!-- <mdb-card>
    <div class="view overlay waves-light" mdbWavesEffect>

      <mdb-card-img src="https://i.ytimg.com/vi/ihE96a6bD-E/maxresdefault.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <mdb-card-body>

      <mdb-card-title>
        <h4>{{e.title}}</h4>
      </mdb-card-title>


      <mdb-card-text>{{e.interanlName}}
      </mdb-card-text>

      <a routerLink="/populer" mdbBtn color="primary" mdbWavesEffect>Join Play</a>
    </mdb-card-body>
  </mdb-card> -->


  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>

      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>

    <mdb-card-body>

      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>


      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>

      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>

    <mdb-card-body>

      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>


      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>


<p>
  <mdb-icon fas icon="heart" size="1x" class="pr-2" aria-hidden="true"></mdb-icon>
  <mdb-icon fas icon="comment-alt" size="1x" ></mdb-icon>
</p>
    </mdb-card-body>
  </mdb-card>


  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>

      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>

    <mdb-card-body>

      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
</div>
